<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5" 
  IgnorableNamespaces="uap mp uap3 uap5">

  <Identity
    Name="622PKar.Autismtest"
    Publisher="CN=B2AF14E8-43FD-463C-83BA-4CEC47122EA2"
    Version="1.2108.4.0" />

  <mp:PhoneIdentity PhoneProductId="12ac1be1-9b0f-4a49-8d6b-bb76bde9be21" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Autism test</DisplayName>
    <PublisherDisplayName>PKar</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="AutyzmTest.App">
      <uap:VisualElements
        DisplayName="Autism test"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="AutyzmTest"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.appService">
          <uap:AppService Name="com.microsoft.pkar.autyzmtest"/>
        </uap:Extension>
        <uap5:Extension
		  Category="windows.appExecutionAlias"
		  Executable="autyzmtest.exe"
		  EntryPoint="autyzmtest.App">
          <uap5:AppExecutionAlias>
            <uap5:ExecutionAlias Alias="autyzmtest.exe" />
          </uap5:AppExecutionAlias>
        </uap5:Extension>

      </Extensions>

    </Application>
  </Applications>

  <Capabilities>
    <uap:Capability Name="removableStorage"/></Capabilities>
</Package>